.app {
  background: #209cee;
  padding: 60px;
  margin-top: 10px;
  border-radius: 10px;
}

.todo-list {
  position: relative;
  border-radius: 10px;
  height: auto;
  text-align: center;
}

.todo{
  background: #fff;
  border-radius: 30px;
  font-size: 25px;
  margin-top: 6px;
  margin-bottom: 6px;
  height: 50px;
  font-weight: bold;
  text-align: center;
  padding: 25px 20px 5px 10px;
  overflow: auto;
  width: 40vh;
}

/*trbl*/
