.app {
  background: pink;
  padding: 60px;
  margin-top: 10px;
  border-radius: 10px;
}

.todo-list {
  background: repeating-radial-gradient(black, transparent 100px);
  position: relative;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/*trbl*/
