.app {
  background: pink;
  padding: 60px;
  margin-top: 10px;
  border-radius: 10px;
}

.todo-list {
  background: repeating-radial-gradient(black, transparent 100px);
  position: relative;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

input{
  background: rgb(152, 216, 192);
  border-radius: 30px;
  font-size: 25px;
  font-weight: bold;
  padding: 25px 20px 5px 10px;
  margin: 10px;
  overflow: auto;
}

/*trbl*/
