.app {
  background: #209cee;
  padding: 60px;
  height: 100vh;
}

.todo-list {
  background: #e8eee8;
  border-radius: 10px;
  padding: 5px;
  max-width: 400px;
  position: relative;
  left: 500px;
  height: auto;
}

.todo, input{
  background: #fff;
  border-radius: 30px;
  font-size: 12px;
  margin: 6px;
  height: 50px;
  /*text-align: center;*/
  font-weight: bold;
  text-align: center;
  padding: 25px 20px 5px 10px;
}
/*trbl*/
